{{! placeholder }}
<div class="container column columns is-multiline is-centered">
  {{#each post}}
    <div class="column columns is-full is-multiline">
      <h3 class="column title is-full">{{title}}</h3>
      <h3 class="column subtitle is-full">{{OP.username}}</h3>
      <p class="column is-full">{{content}}</p>
      <br />
    </div>
  {{/each}}
</div>